
<main class="content">
    <div class="channel-header">
        <h1>Channel erstellen</h1>
        <img src="./../../../assets/img/icon/close.svg" alt="">
    </div>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.
    </p>


    <div class="cannel-container">
        <div>
            <h2>Channel-Name</h2>
        </div>
        <input type="text" class="input-field" placeholder="z.B. Kooperationsprojekte">
        
        <div class="display-flex">
            <h2>Beschreibung</h2>
            <p>(optional)</p>
        </div>
        <input type="text" class="input-field" placeholder="Dein Text hier">
    </div>
    <div class="btn-pos">
        <button class="add-button">Erstellen</button>
    </div>
</main>