<main class="content">
    <div class="channel-header">
        <h1>Channel erstellen</h1>
        <img src="./../../../assets/img/icon/close.svg" alt="" routerLink="">
    </div>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.
    </p>

    <div class="cannel-container">
        <div>
            <h2>Channel-Name</h2>
        </div>
        <input type="text" class="input-field" placeholder="z.B. Kooperationsprojekte">

        <div class="display-flex">
            <h2>Beschreibung</h2>
            <p>(optional)</p>
        </div>
        <input type="text" class="input-field" placeholder="Dein Text hier">
    </div>
    <div class="btn-pos">
        <button class="add-button" (click)="toggleOverlay()">Erstellen</button>
    </div>
    <div id="overlay" class="overlay" [class.show-overlay]="overlayVisible">
        <div>
            <div class="overlay-content">
                <div class="channel-header">
                    <h1>Leute hinzufügen</h1>
                    <img src="./../../../assets/img/icon/close.svg" alt="" (click)="toggleOverlay()">
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="addAllMembers" (change)="toggleInputField($event)">
                    <label for="addAllMembers">Alle Mitglieder von Office Team hinzufügen</label>
                    <br>
                    <input type="checkbox" id="addSpecificMembers" (change)="toggleInputField($event)">
                    <label for="addSpecificMembers">Bestimmte Leute hinzufügen</label>

                    <!-- Zeige das Inputfeld nur, wenn showInputField true ist -->
                    <input *ngIf="showInputField" type="text" class="input-field" placeholder="Leute suchen"
                        (input)="filterUsers($event)">
                    <ul *ngIf="showInputField">
                        <li *ngFor="let user of filteredUsers">{{ user }}</li>
                    </ul>
                </div>
                <div class="btn-pos">
                    <button class="add-button" routerLink="/new-channel">Erstellen</button>
                </div>

            </div>

        </div>

    </div>
</main>