@import "../../../styles/mixins.scss";

.content {
  position: relative;
    background-color: white;
  padding: 0 16px;
  height: 100vh;
  @include dFlex($jc: center, $ai: center, $fd: column, $g: 30px);
}

.channel-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.display-flex{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top:  10px;
    margin-bottom:  10px;
}

.cannel-container {
  width: 100%;
}

.overlay {
  position: fixed;
  bottom: -100%; /* Startposition unten außerhalb des Bildschirms */
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  
}

.overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 89%;
  background-color: white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: opacity 0.5s ease-in-out; /* Animation für die Sichtbarkeit */
}

.checkbox-container {
  margin-top: 20px;
}

.show-overlay {
  bottom: 0; /* Endposition oben auf dem Bildschirm */
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out; /* Animation für die Sichtbarkeit */
}



.input-field {
  width: 90%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-button {
  background-color: rgb(68, 77, 242);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px;
  width: 100px;
  cursor: pointer;
}

.btn-pos {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
