<main class="content">
    <div class="channel-header">
        <h1>Channel erstellen</h1>
        <img src="./../../../assets/img/icon/close.svg" alt="" routerLink="">
    </div>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.
    </p>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm" ngNativeValidate>
        <div class="cannel-container">
            <div>
                <h2>Channel-Name</h2>
            </div>
            <input type="text" name="name" #name="ngModel" minlength="3" [(ngModel)]="channelData.name"
                class="input-field" placeholder="z.B. Kooperationsprojekte" required>

            <div class="display-flex">
                <h2>Beschreibung</h2>
                <p>(optional)</p>
            </div>
            <input type="text" name="description" #description="ngModel" minlength="3"
                [(ngModel)]="channelData.description" class="input-field" placeholder="Dein Text hier" required>
        </div>

        <div class="btn-pos">
            <button class="add-button" (click)="toggleOverlay()">Erstellen</button>
        </div>
        <div id="overlay" class="overlay" [class.show-overlay]="overlayVisible">
            <div>
                <div class="overlay-content">
                    <div class="channel-header">
                        <h1>Leute hinzufügen</h1>
                        <img src="./../../../assets/img/icon/close.svg" alt="" (click)="toggleOverlay()">
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="addAllMembers">
                        <label for="addAllMembers">Alle Mitglieder von Office Team hinzufügen</label>
                        <br>
                        <input type="checkbox" id="addSpecificMembers" (change)="toggleInputField('addSpecificMembers')">
                        <label for="addSpecificMembers">Bestimmte Leute hinzufügen</label>
                        
                        <!-- Zeige das Inputfeld nur, wenn showInputField true ist -->
                        <input *ngIf="showInputField" type="text" class="input-field" placeholder="Leute suchen" (click)="toggleInputField('searchPeople')" (input)="onSearchInputChange($event.target.value)" >
                        <div id="add-member" class="add-member" *ngIf="showAddMember">
                            <div class="scroll">
                                @for (user of this.firestore.getUsers(); track $index) {
                                    <div class="channel-name pl-7" [id]="user.id" (click)="addmember($event)" *ngIf="matchesSearch(user)">
                                        <img src="{{ user.avatar }}">
                            
                                          @if(user.isOnline){
                                            <img src="./assets/img/characters/online.svg" alt="Online" class="online-avatar">
                                          }
                                          @else{
                                            <img src="./assets/img/characters/offline.svg" alt="Offline" class="offline-avatar">
                                          }
                            
                                          <span>{{ user.displayName }}
                                            @if(user.id === this.authService.activeUserId){
                                              <span> (Du)</span>
                                            }
                                          </span>
                                        </div>
                                      }
                                </div>

                            </div>
                        
                    </div>
                    <div class="btn-pos">
                        <button class="add-button" routerLink="/new-channel">Erstellen</button>
                    </div>

                </div>

            </div>

        </div>
    </form>
</main>