@import "../../../styles/mixins.scss";

.input-field {
  width: 100%;
  // max-width: 250px;
  display: flex;
  align-items: center;

  .input-field-design {
    width: 100%;
    border-radius: 30px;
    height: 52px;
    padding-left: 24px;
    @include fontBold($fw: 400, $fs: 17px, $lh: 32px, $ta: left, $c: #686868);

    &::placeholder {
      @include fontBold($fw: 400, $fs: 17px, $lh: 32px, $ta: left, $c: #686868);
    }
  }

  .input-background-icon {
    background-image: url('/assets/img/icon/search.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding-right: 50px;
  }
}
