@import "../../../../styles/mixins.scss";

.content{  
  @include dFlex($jc: space-between, $ai: center, $fd: row, $g: 20px);
  padding: 0 20px;
}

.logo{
  background-color: green;
  width: 100%;
  max-width: 366px;
}

.searchbar{
  background-color: red;
  width: 98%;
  max-width: 989px;
  flex: 1;
}

.header{
  background-color: blue;
  width: 100%;
  max-width: 485px;
}