<div class="background">
    <div class="mdc-card">
        <div class="channel-header">
            <h1 class="no-margin"># Entwicklerteam</h1>
            <img src="./../../../assets/img/icon/close.svg" alt="">
        </div>
    </div>
    <main>
        <div class="input-field-two">
            <div class="channel-name">
                <h1>Channel-Name</h1>
                <p># Entwicklerteam</p>
            </div>
            <div class="edit-icon">
                <img src="./../../../assets/img/icon/edit.svg" alt="">
            </div>
        </div>
        <div class="input-field">
            <div class="description">
                <h1>Beschreibung</h1>
                <p>Dieser Channel ist für alles rund um #dfsdf vorgesehen. Hier kannst du zusammen <br> mit deinem Team Meetings abhalten, <br> Dokumente teilen und Entscheidungen <br> treffen.</p>
            </div>
            <div class="edit-icon-two">
                <img src="./../../../assets/img/icon/edit.svg" alt="">
                
            </div>
            <div class="horizontal-line"></div>
            <div class="made-from">
                <p>Erstellt von</p>
                <p class="color">Noah Braun</p>
            </div>
        </div>

        
        
    </main>
</div>

