<div class="background">
    <div class="mdc-card">
        <div class="channel-header">
            <h1 class="no-margin"># Entwicklerteam</h1>
            <img src="./assets/img/icon/close.svg" alt="" routerLink="/new-channel">
        </div>
    </div>
    <main>
        <div class="container" [style.border]="!isEditingChannelName ? '1px solid blue' : 'none'">
            <div class="channel-name">
              <h1>Channel-Name</h1>
              <!-- Platzhaltertext wird nur angezeigt, wenn nicht bearbeitet wird -->
              <p *ngIf="!isEditingChannelName" id="description" placeholder="# Entwicklerteam">{{ channelNameDescriptionText }}</p>
              <!-- Eingabefeld wird nur angezeigt, wenn bearbeitet wird -->
              <input *ngIf="isEditingChannelName" id="input-edit-channel-name" class="input-edit" type="text" [(ngModel)]="editedChannelName" placeholder="# Entwicklerteam">
            </div>
            <div class="edit-icon">
              <img *ngIf="!isEditingChannelName" id="edit-icon-channel-name" src="./assets/img/icon/edit.svg" alt="" (click)="toggleEdit('channelName')">
              <img *ngIf="isEditingChannelName" id="check-icon-channel-name" src="./assets/img/icon/check_circle.svg" alt="" (click)="toggleEdit('channelName')">
            </div>
          </div>
          
          <div class="container" [style.border]="!isEditingDescription ? '1px solid blue' : 'none'">
            <div class="channel-name">
              <h1>Beschreibung</h1>
              <p *ngIf="!isEditingDescription" id="description" placeholder="# Entwicklerteam">{{ descriptionDescriptionText }}</p>
              <input *ngIf="isEditingDescription" id="input-edit-description" class="input-edit" type="text" [(ngModel)]="editedDescriptionDescription" placeholder="# Entwicklerteam">
              <div class="horizontal-line"></div>
              <div>
                  <p>Erstellt von</p>
                  <p class="color">Noah Braun</p>

                  @for (channel of this.firestore.getChannel(); track $index) {
                      <p>{{channel.name}}</p>
                      <p>{{channel.creator}}</p>
                  }





              </div>
            </div>
            <div class="edit-icon">
              <img *ngIf="!isEditingDescription" id="edit-icon-description" src="./assets/img/icon/edit.svg" alt="" (click)="toggleEdit('description')">
              <img *ngIf="isEditingDescription" id="check-icon-description" src="./assets/img/icon/check_circle.svg" alt="" (click)="toggleEdit('description')">
            </div>
          </div>
          <!-- Mitglieder von Firebase -->
        <div class="container">
            <div class="channel-name">
                <h1>Mitglieder</h1>
              <!-- Du von Firebase -->
                <div class="profil">
                    <img src="./assets/img/characters/character_FrederikBeck_online.svg" alt="">
                    <p class="no-margin">Frederik Beck (DU‚)</p>
                </div>
              <!-- Alle Mitglieder von Firebase -->
               
              @for (user of this.firestore.getUsers(); track $index) {
                <div class="profil">
                  <img class="img-profil" src="{{user.avatar}}" alt="">
                  <img class="position_absolute"[src]="user.isOnline? './assets/img/characters/online.svg': './assets/img/characters/offline.svg'" alt="icon"/>
                  <p class="no-margin">{{user.name}}</p>
                </div>

                <!-- <app-user-element [user]="user"></app-user-element> -->

              }
              <!-- Alle Mitglieder von Firebase -->
               
    
                <div class="profil">
                    <img src="./assets/img/icon/44. Add members button.svg" alt="">
                    <p (click)="toggleOverlay('overlay2')" class="no-margin">Mitglieder Hinzufügen</p>
                </div>
            </div>
        </div>
        <div class="space">
        </div>
        <div id="overlay2" class="overlay">
          <div class="overlay-content">
              <div class="display-flex">
                  <h1 class="no-margin">Leute hinzufügen</h1>
                  <img src="./assets/img/icon/close.svg" alt="" (click)="closeOverlay('overlay2')">
              </div>
              <input class="search-input" type="text" placeholder="Suche Mitglied">
              <div class="btn-pos">
                  <button class="add-button" (click)="closeOverlay('overlay2')"> Hinzufügen</button>
              </div>
          </div>
      </div>

        <!--@for (user of this.getUsers(); track $index) {-->
<!--  <div>-->
<!--    {{ user.avatar }} <br/>-->
<!--    {{ user.badPasswordCount }} <br/>-->
<!--    {{ user.email }} <br/>-->
<!--    {{ user.isActive }} <br/>-->
<!--    {{ user.isBlocked }} <br/>-->
<!--    {{ user.isOnline }} <br/>-->
<!--    {{ user.name }} <br/>-->
<!--    {{ user.password }} <br/>-->
<!--  </div>-->
<!--}-->



    </main>
</div>