@use "@material/card";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/dialog";

@include dialog.core-styles;
@include textfield.core-styles;
@include card.core-styles;
@import "../../../styles/mixins.scss";

main {
  height: 100vh;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.space{
  height: 10px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  height: 80px;
  background-color: rgb(236, 238, 254);
}

.input-edit{
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  border: 1px solid #ADB0D9;

}

.background{
  background-color: white;
  overflow: scroll;
  height: 100vh;
}

.no-margin{
    margin: 0;
}

.channel-name{
  padding: 10px;
    
}
.description{
  position: absolute;
    top: 240px;
    left: 40px;

}

.img-profil{
  height: 60px;
  border-radius: 30px;

}

.channel-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top:  20px;
    margin-bottom: 10px;
  }

.mdc-card {
  padding: 10px;
  position: sticky;
  top: 0; 
  @include shadow-bottom();
}

.sticky-textbox {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Schatten für das Textfeld */
  

  
}

.edit-icon{
  padding-right: 10px;
  padding-top: 10px;
}

.edit-icon-two{
  position: absolute;
  top: 250px;
  right: 40px;
  cursor: pointer;
}

.horizontal-line {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%; /* Breite des Strichs */
  height: 1px; /* Höhe des Strichs */
  background-color: black; /* Farbe des Strichs */
}

.color{
  color: blue;
}

.made-from{
  position: absolute;
  top: 420px;
  left: 40px;
  cursor: pointer;

}


.container {
    width: 87%;
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: white;
    display: flex;
    justify-content: space-between;

  }

  .input-field-two::placeholder {
    padding-left: 10px;
    

  }


.input-placeholder {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
}

.text-container {
  padding: 15px;
}

.channel-info {
  position: fixed;
  bottom: 130px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.profil{
  padding-left: 26px;
  padding-top: 16px;
  gap: 16px;
  display: flex;
  align-items: center;
  position: relative;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }

  .online-avatar, .offline-avatar {
    position: absolute;
    bottom: 0;
    left: 56px;
    width: 14px;
    height: 14px;
  };

    

}

.add-button {
  background-color: rgb(68, 77, 242);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px;
  margin: 20px;
  width: 150px;
  cursor: pointer;
}



.profil-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons {
  position: absolute;
  top: 100px;
  left: 40px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.vertical-line {
    width: 1px;
    height: 25px; 
    background-color: blue; 
  }

.send {
  position: absolute;
  top: 100px;
  left: 310px;
  cursor: pointer;
  
}

.display-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.no-margin{
  margin: 0;
}

.members{
  margin: 20px;
}

.add-member{
  display: flex;
  align-items: center;
  gap: 10px;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}


.overlay-content {
  background-color: white;
  width: 75%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.search-input{
  border: 1px solid blue;
    border-radius: 20px;
    padding: 8px;
    margin-top: 10px;
    width: 94%;
    margin-bottom: 10px;
}


.btn-pos{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.menu-icon-hover{
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 0);
  width: 40px;
  height: 40px;
  &:hover{
    background-color: #ECEEFE;
    border-radius: 20px;
  }
}