@import "../../../../styles/mixins.scss";

.content{  
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 20px);
  padding: 25px 20px 20px;
  width: 100%;
  box-sizing: border-box;
}

.menu{
  @include dFlex($jc: flex-start, $ai: center, $fd: row, $g: 16px);  
  width: 100%;  
  max-width: 23.06%;  
  flex: 1;
}

.workspace{
  background-color: red;
  width: 98%;
  max-width: 51.56%;
  flex: 1;
  height: 70px;
}

.threads{
  background-color: blue;
  width: 100%;
  max-width: 25.26%;
  min-width: 342px;
  height: 70px;
  flex: 1;

  font-family: 'Nunito';
  font-size: 28px;
  font-weight: 600;
  line-height: 30.65px;
  text-align: left;
}