@import "../../../../styles/mixins.scss";

button{
  background-color: white;
  padding: 5px;
  
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: none;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  p{
    padding-top: 15px;
  }
  p:hover{
    color: blue;

  }
}


#toggleDiv {
  transition: transform 0.5s ease, width 0.5s ease;
  max-width: 450px;
  min-width: 1%;
  width: 100%;
}

.collapsed {
  width: 50px !important;
  transform: translateX(-10px);
  img{
    display: none;
  }
}

.toggle{
  position: absolute;
  top: 200px;
  left: 9px;
  transform: rotate(-90deg);
  cursor: pointer;
}

.content {
  @include dFlex($jc: center, $ai: flex-start, $fd: row, $g: 20px);
  padding: 0 20px 20px;
  box-sizing: border-box;
  background-color: #eceefe;
  justify-content: flex-start !important;

}

.mat-mdc-card-content{  
  padding-top: 28px;
}

.workspace{
  max-width: 50% !important;
}

.menu,
.workspace,
.thread{
  border-radius: 30px;
  padding: 8px;
  
}

.menu{
  height: calc(100vh - 150px);
  overflow: hidden;
}

.workspace,
.thread{
  height: 100%;
  flex: 1;
}

.thread{
  width: 100%;
  max-width: 25.26%;
  min-width: 342px;
}

.logo{
  img{
    width: 300px;
  }
}

app-header-mobile {
  display: none !important;
}

.workspace-menu{
  top: 50%;
  position: absolute;
  left: -70px;
  transform: rotate(-90deg);
  z-index: 99;
}





