<button class="workspace-menu" (click)="toggleDiv()">
  <p>workspace Menü schliessen</p>
</button>

<div class="content">
  <mat-card class="menu" id="toggleDiv" [ngClass]="{ 'collapsed': isCollapsed }">
    <mat-card-content>
      <div class="logo">
        <img src="./assets/img/icon/Property 1=Default (1).svg" alt="" >
      </div>      
      <app-main-content [isDesktop]="true"></app-main-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="workspace">
    <mat-card-content>
      @if (this.router.url === '/main') {
        <p>Wähle ein Channel oder einen Chat</p>
      }@else {
        <router-outlet></router-outlet>
      }
    </mat-card-content>
  </mat-card>

  @if(this.matchMedia.showThread === true){
    <mat-card class="thread">
      <mat-card-content>
        <app-thread></app-thread>
      </mat-card-content>
    </mat-card>
  }
</div>
