<div class="content">

  <mat-card class="menu">
    <mat-card-content>
      <div class="logo">
        <img src="./assets/img/icon/Property 1=Default (1).svg" alt="">
      </div>
      
      <app-main-content [isDesktop]="true"></app-main-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="workspace">
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>

  <mat-card class="threads" style="display: none;">
    <mat-card-content>Threads</mat-card-content>
  </mat-card>
</div>
