@import "../../../../styles/mixins.scss";

.content {
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 20px);
  padding: 0 20px 20px;
  box-sizing: border-box;
  background-color: #eceefe;
  height: calc(100% - 120px);
  margin: 0px;
}

.mat-mdc-card-content{  
  padding-top: 28px;
}

.menu,
.workspace,
.threads{
  height: 100%;
  border-radius: 30px;
  padding: 8px;
}

.workspace,
.threads{
  flex: 1;
}

.workspace {   
  width: 51.56%;
  overflow: hidden;
}

.menu{
  width: 100%;
  max-width: 21.06%;
  flex: 1;
}

.threads {  
  width: 100%;
  max-width: 25.26%;
  min-width: 342px;  
}
