@import "../../../styles/mixins.scss";

.content {
  position: relative;
  padding: 0 16px;
  height: 100vh;
  @include dFlex($jc: center, $ai: center, $fd: column, $g: 30px);

  .logo{
    height: 56px;
    @include dFlex($jc: center, $ai: center, $fd: row, $g: 12.8px);

    img{      
      height: 56px;
      width: 56px;
    }

    .logo-name{
      font-size: 24px;
      font-weight: 700;      
    }
  }
}

mat-card{
  position: relative;
  @include card($w: 100%, $h: 552px, $br: 30px, $ptb: 35px, $plr: 20px);

  .mat-mdc-card-header {
    @include dFlex($jc: center, $ai: center, $fd: column, $g: 60px);
    
    mat-card-title{      
      @include fontBoldMobile($fw: 700, $fs: 32px, $lh: 38.4px, $ta: center, $c: #444DF2);
    }

    mat-card-subtitle{
      font-family: 'Nunito';
      font-weight: 400;
      font-size: 17px;
      line-height: 20.4px;
      text-align: center;
      color: #000;
    }
  }

  mat-card-content{
    background-color: pink;
  }
}
