@import "../../../styles/mixins.scss";

.content {
  position: relative;
  padding: 0 16px;
  height: 100vh;
  @include dFlex($jc: center, $ai: center, $fd: column, $g: 30px);

  .logo {
    height: 56px;
    @include dFlex($jc: center, $ai: center, $fd: row, $g: 12.8px);

    img {
      height: 56px;
      width: 56px;
    }

    .logo-name {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}

mat-card {
  position: relative;  
  @include dFlex($jc: center, $ai: center, $fd: column, $g: 20px);
  @include card($w: 100%, $h: 552px, $br: 30px, $ptb: 35px, $plr: 20px);

  .mat-mdc-card-header,
  .headline {
    @include dFlex($jc: center, $ai: center, $fd: column, $g: 15px);
    padding: 0;
    margin-top: -24px;

    mat-card-title {
      @include fontBold(
        $fw: 700,
        $fs: 1.778rem,
        $lh: 38.4px,
        $ta: center,
        $c: #444df2
      );
    }

    mat-card-subtitle {
      font-family: "Nunito";
      font-weight: 400;
      font-size: 1rem;
      line-height: 20.4px;
      text-align: center;
      color: #000;
    }
  }

  .card-content {
    padding: 0;
    @include dFlex($jc: center, $ai: center, $fd: column, $g: 30px);

    form {
      @include dFlex($jc: center, $ai: center, $fd: column, $g: 13px);
      width: 100%;

      .form-box {
        position: relative;
        width: 100%;
        @include dFlex(
          $jc: space-between,
          $ai: flex-start,
          $fd: column,
          $g: 10px
        );

        .input-with-icon {
          @include dFlex(
            $jc: space-between,
            $ai: flex-start,
            $fd: row,
            $g: 30px
          );
          width: 100%;
          position: relative;

          img {
            position: absolute;
            left: 25px;
            top: 25px;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
          }
        }

        .hidden {
          display: none;
        }
      }

      .required {
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;
        color: #e61c40;
        height: 17px;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="button"] {
        box-sizing: border-box;
        padding-block: 0;
        padding-inline: 0; 
        padding: 15px 70px;        
        background-color: #ECEEFE;
        width: 100%;
        height: 50px;
        border: 1px transparent solid;
        text-align: left;
        color: #686868;
        font-size: 18px;
        font-family: "Nunito";
        font-weight: 500;
        line-height: 21.6px;
        border-radius: 100px;
        cursor: pointer;
        
        &:hover {
          border: 1px #686868 solid;
        }
        &:focus {
          border: 1px #535AF1 solid;
          color: #000;
        }
        &:valid {          
          color: #000;
        }
      }      
    }

    .fontThin{
      @include fontThin($fw: 400, $fs: 17px, $lh: 20.4px, $ta: center, $c: #797EF3);
    }

    .seperator {
      position: relative;
      @include dFlex($jc: center, $ai: center, $fd: row, $g: 0);
    }
  
    .seperator span {
      position: absolute;
      top: -10px;
      background-color: white;
      text-align: center;
      padding: 0 10px;
      height: 35px;
      width: 80px;
      font-family: 'Nunito';
      font-weight: 400;
      font-size: 17px;
      line-height: 23.19px;
    }  


  }
}
