<div class="content">
  <div class="logo">
    <img src="./assets/img/log-in/logo.svg" />
    <span class="logo-name">DABubble</span>
  </div>

  <mat-card>
    <mat-card-header class="mat-mdc-card-header">
      <mat-card-title>Anmeldung</mat-card-title>
      <mat-card-subtitle>
        Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> 
      Inhalt
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <div class="new-user">
    <span>Neu bei DABubble?</span>
    <button>Konto erstellen</button>
  </div>
</div>
