<div class="container">
  <app-header-mobile [isDesktop]="false"></app-header-mobile>
  <div class="mdc-card">
    <div class="channel-box pointer">
      <h1 class="no-margin">
        <span>Thread</span>
        <span class="subtitle">#</span>
        <span class="subtitle">{{ this.matchMedia.channelName }}</span>
      </h1>
    </div>
    <div>
      <img
        class="menu-icon-hover pointer"
        (click)="closeThread()"
        src="./assets/img/icon/close.svg"
        alt=""
      />
    </div>
  </div>
  <div class="content">
    <div class="message-content" #messageContent>
      <app-conversation
        [channelMessage]="this.firestore.channelMessage"
        [isChannel]="false"
        [isThread]="false"
        [hideCompleteReactionBar]="true"
      ></app-conversation>
      
    </div>

    <div class="timeSeperator">
      <span>2 Antworten</span>
      <img class="line" src="./assets/img/auth/line.svg" alt="" />
    </div>
    <div
      class="message-content"
      #threadContent      
    >
      @if (this.firestore.channelThreads.length !== 0) {
        @for (channelThread of
          this.firestore.channelThreads; track channelThread.id) {
          <app-conversation
            [channelMessage]="channelThread" [isChannel]="false" [isThread]="true"
          ></app-conversation>
        }
      }
    </div>
  </div>
  <app-text-box style="margin-top: 10px;" [textBoxData]="textBoxData"></app-text-box>
</div>

<div id="overlay1" style="display: none" class="overlay">
  <div class="overlay-content">
    <div class="display-flex">
      <h1 class="no-margin">Mitglieder</h1>
      <img
        src="./assets/img/icon/close.svg"
        alt=""
        (click)="closeOverlay('overlay1')"
      />
    </div>
    <div class="members">
      <div *ngFor="let member of channel.member">
        <div class="profil">
          <img class="img-profil" src="{{ member.avatar }}" alt="" />

          @if(user.isOnline){
          <img
            src="./assets/img/characters/online.svg"
            alt="Online"
            class="online-avatar"
          />
          } @else {
          <img
            src="./assets/img/characters/offline.svg"
            alt="Offline"
            class="offline-avatar"
          />
          }

          <p class="no-margin">{{ member.displayName }}</p>
        </div>
      </div>

      <div class="profil">
        <img class="height" src="./assets/img/icon/add_member.svg" alt="" />
        <p (click)="toggleOverlay('overlay')" class="no-margin">
          Mitglied hinzufügen
        </p>
      </div>
    </div>
  </div>
</div>

<div id="overlay" style="display: none" class="overlay">
  <app-search-user></app-search-user>
</div>
