<div>
    <header class="header-container">
        <div class="header-container">
            <img src="./../../assets/img/icon/arrow_back.svg" alt="" routerLink="">
            <img src="./../../assets/img/icon/Property 1=Default (1).svg" alt="">
        </div>
        <div>
            {{this.authService.activeUserAccount?.displayName}}
            <img class="header-img" (click)="openBottomSheet()" src="{{user.avatar}}">
        </div>
    </header>
    <main>
        <div class="mdc-card">
            <div class="channel-box">
                <h1 class="no-margin">Neue Nachricht</h1>
            </div>
            <input type="text" class="input-field-two" placeholder="An: #channel, oder @jemand ">
        </div>

        <div class="sticky-textbox">
            <textarea placeholder="Schreibe eine Nachricht" class="input-field"></textarea>
            <div class="icons">
                <img src="./../../assets/img/icon/add.svg" alt="">
                <div class="vertical-line"></div>
                <img src="./../../assets/img/icon/smile.svg" alt="">
                <img src="./../../assets/img/icon/email.svg" alt="">
            </div>
            <div class="send">
                <img src="./../../assets/img/icon/send.svg" alt="">
            </div>
        </div>
    </main>
</div>
