<div class="container">
    <app-header-mobile></app-header-mobile>

    <div class="mdc-card">
      <div class="channel-box">
        <h1 class="no-margin">Neue Nachricht: </h1>
        <div class="input-div">
          <input class="inputbox" type="" value="" placeholder="An: #channel, oder @jemand ">
        </div>
       
      </div>
    </div>

    <div class="content">
      <div
        class="message-content"
        #messageContent
        style="overflow-y: scroll; height: 100%"
      >
        @for (chat of this.firestore.channelMessages; track
        chat.id) {
          <app-conversation
            [channelMessage]="chat" [isChannel]="false" [isThread]="false"
          ></app-conversation>
        }
      </div>
    </div>


    <app-text-box [textBoxData]="textBoxData"></app-text-box>

    <div id="overlay3" class="overlay" (click)="closeOverlay('overlay3')">
      <div class="overlay-profil">
        <div class="profile-icon">
          <img src="./assets/img/icon/account_circle.svg" alt="" />
          <p class="no-margin">Profil</p>
        </div>
        <div class="profile-icon">
          <img src="./assets/img/icon/logout.svg" alt="" />
          <p class="no-margin">Log out</p>
        </div>
      </div>
    </div>
  </div>
