<div>
    <header class="header-container">
        <div class="header-container">
            <img src="./../../assets/img/icon/arrow_back.svg" alt="">
            <img src="./../../assets/img/icon/Property 1=Default (1).svg" alt="">
        </div>
        <div>
            <img src="./../../assets/img/characters/character_FrederikBeck.svg" alt="" (click)="toggleOverlay('overlay3')">
        </div>
    </header>
    <main>
        <div class="mdc-card">
            <div class="channel-box">
                <h1 class="no-margin">Neue Nachricht</h1>
            </div>
            <input type="text" class="input-field-two" placeholder="An: #channel, oder @jemand ">
        </div>

        <div class="sticky-textbox">
            <input type="text" class="input-field" placeholder="">
            <label class="input-placeholder">Nachricht an Sofia Müller</label>
            <div class="icons">
                <img src="./../../assets/img/icon/add.svg" alt="">
                <div class="vertical-line"></div>
                <img src="./../../assets/img/icon/smile.svg" alt="">
                <img src="./../../assets/img/icon/email.svg" alt="">
            </div>
            <div class="send">
                <img src="./../../assets/img/icon/send.svg" alt="">
            </div>
        </div>

        <div id="overlay3" class="overlay" (click)="closeOverlay('overlay3')">
            <div class="overlay-profil">
                <div class="profile-icon">
                    <img src="./../../../assets/img/icon/account_circle.svg" alt="">
                    <p class="no-margin">Profil</p>
                </div>
                <div class="profile-icon">
                    <img  src="./../../../assets/img/icon/logout.svg" alt="">
                    <p class="no-margin">Log out</p>
                </div>
            </div>
        </div>
    </main>
</div>
