<div class="input-field">
  <input
    type="text"
    name="text"
    [(ngModel)]="textData.text"
    (ngModelChange)="startSearching(textData.text)"
    [class.input-has-value]="inputHasValue"
    placeholder="{{ placeholder }}"
    required
    autocomplete="off"
    class="full-width input-field-design input-background-icon"
    [ngStyle]="{
      border: isDesktop ? '1px solid #FFFFFF' : '1px solid #ADB0D9'
    }"
  />
  @if(showDropdown){
  <div class="dropdown-menu">
    <div class="scroll">
      <div *ngFor="let type of groupedData | keyvalue">
        <div class="selection">
          @switch (type.key) { @case ("channelmessage") {
          <div class="type">Nachricht</div>
          } @case ("channel") {
          <div class="type">Kanal</div>
          } @case ("user") {
          <div class="type">Benutzer</div>
          } 
        }
          <li *ngFor="let item of type.value">
            @if(type.key === 'user' ){
            <span>
              <img class="avatar" src="{{ item.data.avatar }}" alt="">              
              {{ item.data.displayName }}
              @if(item.data.email !== ''){                
                <span class="font-italic">(Email: {{ item.data.email }})</span>
              }
            </span>
            } @if(type.key === 'channel' ){
            <span>{{ item.data.name }} 
              @if(item.data.description !== ''){                
                <span class="font-italic">(Beschreibung: {{ item.data.description }})</span>
              }

            </span>
            }
            @if(type.key === 'channelmessage' ){
              <span>{{ item.data.text }} </span>
              @if(item.thread){                
                <span class="font-italic">(Thread)</span>
              }
              }
          </li>
        </div>
      </div>
      @if(this.resultList.length == 0){
      <div class="error">
        Kein Inhalt gefunden der "{{ textData.text }}" enthält.
      </div>
      }
    </div>
  </div>
  }
</div>
