<app-header-mobile/>

<div class="content-main bg-c">
  <div class="wrapper-content-main">

<!--    <mat-form-field class="full-width">-->
      <div class="input-field">
        <input
          type="text"
          name="text"
          #text="ngModel"
          [(ngModel)]="textData.text"
          (ngModelChange)="checkInput($event)"
          [class.input-has-value]="inputHasValue"
          placeholder="Gehe zu..."
          required
          class="full-width input-field-design input-background-icon"
        />
<!--        <mat-icon matSuffix>search</mat-icon>-->
      </div>
      <!--      <input matInput class="b
        r-42" placeholder="Gehe zu...">-->

<!--    </mat-form-field>-->

    <mat-accordion [multi]="true">
      <mat-expansion-panel hideToggle class="bs-none" [expanded]="panels[0].expanded"
                           (opened)="onPanelOpened(0)"
                           (closed)="onPanelClosed(0)">
        <mat-expansion-panel-header class="p-0">
          <mat-panel-title class="channel-menu m-0">
            <div class="channel-headline jc-sb">
              <div class="channel-headline">
                <div>
                  <img [src]="panels[0].arrowImagePath">
                </div>
                <div class="channel-menu-headline">
                  <img [src]="panels[0].iconPath">
                  <span [style.color]="panels[0].titleColor">{{ panels[0].title }}</span>
                </div>
              </div>
              <img class="plus-icon" src="assets/img/icon/add.png" (click)="onAddClick($event)">
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

          <!-- Für Firebase -->
        @for (channel of this.firestore.getChannel(); track $index) {
        <div class="channel-name" [id]="channel.id" (click)="openChannel($event)">
          <span class="channel-tag">#</span>
          <span>{{channel.name}}</span>
        </div>
      }

        <div class="add-channel" (click)="navigateToAddChannel()">
          <img src="assets/img/icon/add_circle.png">
          <span>Channel hinzufügen</span>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle class="bs-none" [expanded]="panels[1].expanded"
                           (opened)="onPanelOpened(1)"
                           (closed)="onPanelClosed(1)">
        <mat-expansion-panel-header class="p-0">
          <mat-panel-title class="channel-menu m-0">
            <div class="channel-headline jc-sb">
              <div class="channel-headline">
                <div>
                  <img [src]="panels[1].arrowImagePath">
                </div>
                <div class="channel-menu-headline">
                  <img [src]="panels[1].iconPath">
                  <span [style.color]="panels[1].titleColor">{{ panels[1].title }}</span>
                </div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="channel-name pl-7" (click)="navigateToDirectMessage()">
          <img src="assets/img/characters/character_FrederikBeck_online.svg">
          <span>Frederik Beck (Du)</span>
        </div>
        <div class="channel-name pl-7" (click)="navigateToDirectMessage()">
          <img src="assets/img/characters/character_SofiaMueller_online.svg">
          <span>Sofia Müller</span>
        </div>
        <div class="channel-name pl-7" (click)="navigateToDirectMessage()">
          <img src="assets/img/characters/character_NoahBraun_online.svg">
          <span>Noah Braun</span>
        </div>
        <div class="channel-name pl-7" (click)="navigateToDirectMessage()">
          <img src="assets/img/characters/character_EliseRoth_offline.svg">
          <span>Elise Roth</span>
        </div>
        <div class="channel-name pl-7" (click)="navigateToDirectMessage()">
          <img src="assets/img/characters/character_EliasNeumann_online.svg">
          <span>Elias Neumann</span>
        </div>
        <div class="channel-name pl-7" (click)="navigateToDirectMessage()">
          <img src="assets/img/characters/character_SteffenHoffmann_online.svg">
          <span>Steffen Hoffmann</span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="btn-position">
      <button mat-fab class="btn-edit-message" routerLink="/new-message">
        <mat-icon class="white-icon">
          edit_square
        </mat-icon>
      </button>
    </div>
  </div>
</div>
@for (user of this.firestore.getUsers(); track $index) {
  <div>
    {{ user.avatar }} <br/>
<!--    {{ user.badPasswordCount }} <br/>-->
    {{ user.email }} <br/>
<!--    {{ user.isActive }} <br/>-->
<!--    {{ user.isBlocked }} <br/>-->
<!--    {{ user.isOnline }} <br/>-->
    {{ user.name }} <br/>
<!--    {{ user.password }} <br/>-->
  </div>
}
