@import "../../styles/mixins.scss";

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  border-radius: 42px;
}

.br-42 {
  border-radius: 42px;
}

.bg-c {
  @include bg-c(#FFFFFF);
}

.content-main {
  height: 100vh;
  padding: 30px 16px;
  border: 1px solid red;

  .wrapper-content-main {
    border: 1px solid red;
  }
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.channel-menu {
  @include dFlex($ai: center, $fd: row);
  width: 100%;

  .plus-icon:hover {
    background-color: #ECEEFE;
    border-radius: 100%;
  }
}

.channel-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.jc-sb {
  display: flex;
}

.channel-menu-headline {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;

  span {
    font-weight: 700;
    font-size: 20px;
  }
}

.channel-name {
  padding-left: 10px;
  padding-top: 16px;
  gap: 16px;
  display: flex;
  align-items: center;

  /*span {
    @include fontBoldMobile($fw: 400, $fs: 17px, $lh: 23.19px, $ta: center, $c: #000000)
  } */
}

.channel-tag {
  font-size: 24px !important;
  font-weight: bold !important;
  font-family: "Nunito", serif;
}

.bs-none {
  box-shadow: none !important;
}

.add-channel {
  @include dFlex($jc: start, $ai: center, $fd: row, $g: 12px);
  padding-left: 4px;
  padding-top: 30px;

  /*span {
    @include fontBoldMobile($fw: 400, $fs: 17px, $lh: 23.19px, $ta: center, $c: #535AF1)
  }*/
}

.pl-7 {
  padding-left: 7px;
}

.btn-position {
  position: relative;
}

.btn-edit-message {
  @include bg-c(#444DF2);
  width: 60px;
  height: 60px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: none;
  position: absolute;
  right: 0;
  bottom: 10px;
  fill: #ffffff;
}


.white-icon {
  color: white;
}

