<div>
    <header class="header-container">
        <div class="header-container">
            <img src="./../../assets/img/icon/arrow_back.svg" alt="" routerLink="">
            <img src="./../../assets/img/icon/Property 1=Default (1).svg" alt="">
        </div>
        <div>
            <img src="./../../assets/img/characters/character_FrederikBeck.svg" alt="" (click)="openBottomSheet()">
        </div>
    </header>
    <main>
        <div class="mdc-card">
            <div class="channel-box" [id]="this.firestore.getChannel()[0].id" (click)="openChannel($event, 'channel-edition')">
                <h1 class="no-margin">{{ channel.name }}</h1>
                <img src="./../../assets/img/icon/arrow_down.svg" alt="">
            </div>
            <div>
                <img (click)="toggleOverlay('overlay1')" src="./../../assets/img/icon/44. Add members button.svg"
                    alt="">
            </div>
        </div>
        <div class="channel-info">
            <h1 class="no-margin">{{ channel.name }}</h1>
            <p>Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels </p>

        </div>

        <div class="sticky-textbox">
            <textarea placeholder="Schreibe eine Nachricht" class="input-field"></textarea>
            <div class="icons">
                <img src="./../../assets/img/icon/add.svg" alt="">
                <div class="vertical-line"></div>
                <img src="./../../assets/img/icon/smile.svg" alt="">
                <img src="./../../assets/img/icon/email.svg" alt="">
            </div>
            <div class="send">
                <img src="./../../assets/img/icon/send.svg" alt="">
            </div>
        </div>


        <div id="overlay1" class="overlay">
            <div class="overlay-content">
                <div class="display-flex">
                    <h1 class="no-margin">Mitglieder:</h1>
                    <img src="./../../assets/img/icon/close.svg" alt="" (click)="closeOverlay('overlay1')">
                </div>
                <div class="members">
                    @for (user of this.firestore.getUsers(); track $index) {
                        <div class="profil">
                          <img class="img-profil" src="{{user.avatar}}" alt="">
                          <img class="position_absolute"[src]="user.isOnline? './assets/img/characters/online.svg': './assets/img/characters/offline.svg'" alt="icon"/>
                          <p class="no-margin">{{user.name}}</p>
                        </div>
                    }
                    <div class="profil">
                        <img class="height" src="../../assets/img/icon/44. Add members button.svg" alt="">
                        <p (click)="toggleOverlay('overlay2')" class="no-margin">Mitglied hinzufügen</p>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="overlay2" class="overlay">
            <div class="overlay-content">
                <div class="display-flex">
                    <h1 class="no-margin">Leute hinzufügen</h1>
                    <img src="./../../assets/img/icon/close.svg" alt="" (click)="closeOverlay('overlay2')">
                </div>
                <input class="search-input" type="text" placeholder="Suche Mitglied">
                <div class="btn-pos">
                    <button class="add-button" (click)="closeOverlay('overlay2')"> Hinzufügen</button>
                </div>
            </div>
        </div>
    </main>
</div>