<div class="container">
  <app-header-mobile></app-header-mobile>
  <div class="mdc-card">
    <div
      class="channel-box pointer"
      [id]="itemID"
      (click)="openChannel($event, 'channel-edition')"
    >
      <h1 class="no-margin">
        <span>#</span>
        <span>{{ channel.name }}</span>
      </h1>
      <img src="./assets/img/icon/arrow_down.svg" alt="" />
    </div>
    <div>
      <img
        class="pointer"
        (click)="toggleOverlay('overlay1')"
        src="./assets/img/icon/add_member.svg"
        alt=""
      />
    </div>
  </div>
  <div class="content">
    <div class="message-content">
      @if(this.firestore.channelMessages.length !== 0){ @for (channelMessage of
      this.firestore.channelMessages; track channelMessage.id) {
      <app-channel-message
        [channelMessage]="channelMessage"
      ></app-channel-message>
      } } @else {
      <div class="channel-info">
        <h1 class="no-margin">
          <span>#</span>
          <span>{{ channel.name }}</span>
        </h1>
        <p>
          Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
          {{ channel.name }}
        </p>
      </div>
      }
    </div>
  </div>
  <div class="footer">
    <div class="message-box">
      <div class="text-content">
        <textarea
          type="text"
          minlength="10"
          placeholder="Nachricht an #Entwicklerteam"
          name="messagetext"
          id="messagetext"
          required
        ></textarea>
      </div>
      <div class="actions">
        <div class="other-content">
          <img src="./assets/img/icon/add.svg" alt="" />
          <div class="vertical-line"></div>
          <img src="./assets/img/icon/smile.svg" alt="" />
          <img src="./assets/img/icon/email.svg" alt="" />
        </div>
        <button>Senden</button>
      </div>
    </div>

    <!-- <div class="sticky-textbox">
      <textarea
        placeholder="Schreibe eine Nachricht"
        class="input-field"
      ></textarea>
      <div class="icons">
        <img src="./assets/img/icon/add.svg" alt="" />
        <div class="vertical-line"></div>
        <img src="./assets/img/icon/smile.svg" alt="" />
        <img src="./assets/img/icon/email.svg" alt="" />
      </div>
      <div class="send">
        <img src="./assets/img/icon/send.svg" alt="" />
      </div>
    </div> -->
  </div>
  <!-- <div id="overlay1" class="overlay">
    <div class="overlay-content">
      <div class="display-flex">
        <h1 class="no-margin">Mitglieder:</h1>
        <img
          src="./assets/img/icon/close.svg"
          alt=""
          (click)="closeOverlay('overlay1')"
        />
      </div>
      <div class="members">
        @for (user of this.firestore.getUsers(); track $index) {
        <div class="profil">
          <img class="img-profil" src="{{ user.avatar }}" alt="" />

          @if(user.isOnline){
          <img
            src="./assets/img/characters/online.svg"
            alt="Online"
            class="online-avatar"
          />
          } @else {
          <img
            src="./assets/img/characters/offline.svg"
            alt="Offline"
            class="offline-avatar"
          />
          }

          <p class="no-margin">{{ user.displayName }}</p>
        </div>
        }
        <div class="profil">
          <img
            class="height"
            src="./assets/img/icon/add_member.svg"
            alt=""
          />
          <p (click)="toggleOverlay('overlay2')" class="no-margin">
            Mitglied hinzufügen
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div id="overlay2" class="overlay">
    <div class="overlay-content">
      <div class="display-flex">
        <h1 class="no-margin">Leute hinzufügen</h1>
        <img
          src="./assets/img/icon/close.svg"
          alt=""
          (click)="closeOverlay('overlay2')"
        />
      </div>
      <input class="search-input" type="text" placeholder="Suche Mitglied" />
      <div class="btn-pos">
        <button class="add-button" (click)="closeOverlay('overlay2')">
          Hinzufügen
        </button>
      </div>
    </div>
  </div> -->
</div>

<div>
  <!-- <header class="header-container">
    <div class="header-container">
      <img src="./assets/img/icon/arrow_back.svg" alt="" routerLink="" />
      <img src="./assets/img/icon/Property 1=Default (1).svg" alt="" />
    </div>
    <div>
      <img
        class="header-img"
        (click)="openBottomSheet()"
        src="{{ user.avatar }}"
      />
    </div>
  </header> -->
  <!-- <main>
    <div class="mdc-card">
      <div
        class="channel-box"
        [id]="itemID"
        (click)="openChannel($event, 'channel-edition')"
      >
        <h1 class="no-margin">{{ channel.name }}</h1>
        <img src="./assets/img/icon/arrow_down.svg" alt="" />
      </div>
      <div>
        <img
          (click)="toggleOverlay('overlay1')"
          src="./assets/img/icon/add_member.svg"
          alt=""
        />
      </div>
    </div>
    
    <div class="message-content">
    @if(this.firestore.channelMessages.length !== 0){
      @for (channelMessage of this.firestore.channelMessages; track
      channelMessage.id) {
      <app-channel-message
        [channelMessage]="channelMessage"
      ></app-channel-message>
      }
    } @else {
      <div class="channel-info">
        <h1 class="no-margin">{{ channel.name }}</h1>
        <p>
          Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
        </p>
      </div>      
    }
  </div>

    <div class="sticky-textbox">
      <textarea
        placeholder="Schreibe eine Nachricht"
        class="input-field"
      ></textarea>
      <div class="icons">
        <img src="./assets/img/icon/add.svg" alt="" />
        <div class="vertical-line"></div>
        <img src="./assets/img/icon/smile.svg" alt="" />
        <img src="./assets/img/icon/email.svg" alt="" />
      </div>
      <div class="send">
        <img src="./assets/img/icon/send.svg" alt="" />
      </div>
    </div>

    <div id="overlay1" class="overlay">
      <div class="overlay-content">
        <div class="display-flex">
          <h1 class="no-margin">Mitglieder:</h1>
          <img
            src="./assets/img/icon/close.svg"
            alt=""
            (click)="closeOverlay('overlay1')"
          />
        </div>
        <div class="members">
          @for (user of this.firestore.getUsers(); track $index) {
          <div class="profil">
            <img class="img-profil" src="{{ user.avatar }}" alt="" />

            @if(user.isOnline){
            <img
              src="./assets/img/characters/online.svg"
              alt="Online"
              class="online-avatar"
            />
            } @else {
            <img
              src="./assets/img/characters/offline.svg"
              alt="Offline"
              class="offline-avatar"
            />
            }

            <p class="no-margin">{{ user.displayName }}</p>
          </div>
          }
          <div class="profil">
            <img
              class="height"
              src="./assets/img/icon/add_member.svg"
              alt=""
            />
            <p (click)="toggleOverlay('overlay2')" class="no-margin">
              Mitglied hinzufügen
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="overlay2" class="overlay">
      <div class="overlay-content">
        <div class="display-flex">
          <h1 class="no-margin">Leute hinzufügen</h1>
          <img
            src="./assets/img/icon/close.svg"
            alt=""
            (click)="closeOverlay('overlay2')"
          />
        </div>
        <input class="search-input" type="text" placeholder="Suche Mitglied" />
        <div class="btn-pos">
          <button class="add-button" (click)="closeOverlay('overlay2')">
            Hinzufügen
          </button>
        </div>
      </div>
    </div>
  </main> -->
</div>
