@import "../../../../styles/mixins.scss";

.selected-users-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    padding: 8px;
  }

  .input-field{
    box-sizing: border-box;
    width: 100%;
    padding: 18px 20px;
    border-radius: 40px;
    border: 1px solid #adb0d9;
  }

  .selected-user span {
    margin-right: 8px;
  }
  
  .selected-user button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    color: #666;
    font-size: 12px;
    cursor: pointer;
  }

  .selected-user {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 4px 8px;
    border-radius: 16px;
  
    img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .scroll {
    overflow: scroll;
    height: 100px;
  }

  .add-member {
    position: relative;
    max-width: 30em;
    height: 100px;
    width: 250px;
  
    // looks
    background-color: #fff;
    padding: 10px;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
      0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  }

  .channel-name {
    padding: 10px;
    gap: 16px;
    display: flex;
    align-items: center;
    position: relative;
  
    span {
      @include fontBold(
        $fw: 400,
        $fs: 17px,
        $lh: 23.19px,
        $ta: center,
        $c: #000000
      );
    }
  
    img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      object-fit: cover;
    }
  
    .online-avatar,
    .offline-avatar {
      position: absolute;
      bottom: 8px;
      left: 35px;
      width: 14px;
      height: 14px;
    }
  }

  .pl-7 {
    padding-left: 23px;
  }

  .space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
    img {
      width: 20px !important;
      height: 20px !important;
    }
  }

