<p>example works!</p>


<p>Wenn collection = user ist</p>
docID: {{itemID}} <br>
avatar: {{user.avatar}} <br>
email: {{user.email}} <br>
name: {{user.name}} <br>
isOnline: {{user.isOnline}}

<br>
<br>

<p>Wenn collection = channels ist</p>
docID: {{itemID}} <br>
creator: {{channel.creator}} <br>
description: {{channel.description}} <br>
member: {{channel.member}} <br>
name: {{channel.name}}


<br>
<br>

<p>Aktiver User</p>
avatar: {{this.firestore.activeUser.avatar}} <br>
email: {{this.firestore.activeUser.email}} <br>
isOnline: {{this.firestore.activeUser.isOnline}} <br>
name: {{this.firestore.activeUser.name}} <br>
provider: {{this.firestore.activeUser.provider}} <br>
docID: {{this.firestore.activeUser.id}} <br>