/* Error: Undefined mixin.
 *    ,
 * 13 |   @include fontBoldMobile($fw: 600, $fs: 20px, $lh: 27.28px, $ta: center, $c: #000000);
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   bottom-sheet.component.scss 13:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 13 \2502    @include fontBoldMobile($fw: 600, $fs: 20px, $lh: 27.28px, $ta: center, $c: #000000);\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   bottom-sheet.component.scss 13:3  root stylesheet";
}
