@import "../../../../styles/mixins.scss";

.footer {
  height: 175px;  
  background-color: #FFFFFF;
  @include dFlex($jc: flex-start, $ai: center, $fd: column, $g: 0);
}

.message-box{
  @include dFlex($jc: flex-start, $ai: flex-start, $fd: column, $g: 0);
  height: 137px;
  width: 398px;
  border: 1px solid #ADB0D9;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.text-content{
  width: 100%;  
}

input[type="text"],
textarea{
  width: 100%;
  height: 68px;
  box-sizing: border-box;
  padding-block: 0;
  padding-inline: 0;
  border-style: none;
  outline: none !important;
  font-family: 'Nunito';
  font-weight: 400;
  font-size: 18px;
  line-height: 24.55px;
  resize: none;
}


.actions{  
  width: 100%;
  @include dFlex($jc: space-between, $ai: center, $fd: row, $g: 15px);
}

.other-content{  
  height: 28px;
  @include dFlex($jc: space-between, $ai: center, $fd: row, $g: 4px);
  .vertical-line {
    width: 1px;
    height: 25px;
    background-color: #ADB0D9;
  }
}