<div class="footer">
  <div class="message-box">
    <div class="text-content">
      {{placeholder}}
      <textarea
        type="text"
        minlength="10"
        placeholder="Nachricht an #Entwicklerteam"
        name="messagetext"
        id="messagetext"
        required
      ></textarea>
    </div>
    <div class="actions">
      <div class="other-content">
        @if(add_hovered){        
          <img class="pointer" (mouseenter)="add_hovered = true" (mouseleave)="deleteHovered()" src="./assets/img/icon/add_hover.svg" alt="" />
        }@else{
          <img class="pointer" (mouseenter)="add_hovered = true" (mouseleave)="deleteHovered()" src="./assets/img/icon/add.svg" alt="" />
        }
        <div class="vertical-line"></div>       
        @if(smile_hovered){        
          <img class="pointer" (mouseenter)="smile_hovered = true" (mouseleave)="deleteHovered()" src="./assets/img/icon/smile_hover.svg" alt="" />
        }@else{
          <img class="pointer" (mouseenter)="smile_hovered = true" (mouseleave)="deleteHovered()" src="./assets/img/icon/smile.svg" alt="" />
        }        
        @if(email_hovered){        
          <img class="pointer" (mouseenter)="email_hovered = true" (mouseleave)="deleteHovered()" src="./assets/img/icon/email_hover.svg" alt="" />
        }@else{
          <img class="pointer" (mouseenter)="email_hovered = true" (mouseleave)="deleteHovered()" src="./assets/img/icon/email.svg" alt="" />
        }
      </div>

      @if(send_hovered){        
        <img class="pointer" (mouseenter)="send_hovered = true" (mouseleave)="deleteHovered()" src="./assets/img/icon/send_hover.svg" alt="" />
      }@else{
        <img class="pointer" (mouseenter)="send_hovered = true" (mouseleave)="deleteHovered()" src="./assets/img/icon/send.svg" alt="" />
      }


    </div>
  </div>   
</div>