<div>
    <header class="header-container">
        <div class="header-container">
            <img src="./../../assets/img/icon/arrow_back.svg" alt="">
            <img src="./../../assets/img/icon/Property 1=Default (1).svg" alt="">
        </div>
        <div>
            <img src="./../../assets/img/characters/character_FrederikBeck.svg" alt="">
        </div>
    </header>
    <main>
        <div class="mdc-card">
            <div class="channel-box">
                <img src="./../../../assets/img/characters/character_SofiaMueller_online.svg" alt="">
                <h1 class="no-margin">Sofia Müller</h1>
            </div>
        </div>
        <div class="channel-info">
            <div class="profil-box">
                <img class="profil" src="./../../../assets/img/characters/Property 1=Sofia Müller.png" alt="">
                <h1 class="no-margin">Sofia Müller</h1>
            </div>

            <p>Diese Unterhaltung findet nur zwischen Sofia Müller und dir statt. </p>

        </div>

        <div class="sticky-textbox">
            <input type="text" class="input-field" placeholder="">
            <label class="input-placeholder">Nachricht an Sofia Müller</label>
            <div class="icons">
                <img src="./../../assets/img/icon/add.svg" alt="">
                <div class="vertical-line"></div>
                <img src="./../../assets/img/icon/smile.svg" alt="">
                <img src="./../../assets/img/icon/email.svg" alt="">
            </div>
            <div class="send">
                <img src="./../../assets/img/icon/send.svg" alt="">
            </div>
        </div>
    </main>
</div>