<div>
  <header class="header-container">
    <div class="header-container">
      <img src="./../../assets/img/icon/arrow_back.svg" alt="" (click)="goBack()">
      <img src="./../../assets/img/icon/Property 1=Default (1).svg" alt="">
    </div>
    <div>
          {{this.authService.activeUserAccount?.displayName}}
            <img class="header-img" (click)="openBottomSheet()" src="{{user.avatar}}">
    </div>
  </header>
  <main>
    <div class="mdc-card">
      <div class="channel-box" (click)="openDirectMessageOverlay()">
        <img class="profil" src="{{user.avatar}}" alt="">
        <h1 class="no-margin">{{ user.displayName }}</h1>
      </div>
    </div>
    <div class="channel-info">
      <div class="profil-box" (click)="openDirectMessageOverlay()">
        <img class="profil" src="{{user.avatar}}" alt="">
        <h1 class="no-margin">{{ user.displayName }}</h1>
      </div>

      <p>Diese Unterhaltung findet nur zwischen Sofia Müller und dir statt. </p>

    </div>

    <div class="sticky-textbox">
      <textarea placeholder="Schreibe eine Nachricht" class="input-field"></textarea>
      <div class="icons">
        <img src="./../../assets/img/icon/add.svg" alt="">
        <div class="vertical-line"></div>
        <img src="./../../assets/img/icon/smile.svg" alt="">
        <img src="./../../assets/img/icon/email.svg" alt="">
      </div>
      <div class="send">
        <img src="./../../assets/img/icon/send.svg" alt="">
      </div>
    </div>

    <div id="overlay3" class="overlay" (click)="closeOverlay('overlay3')">
      <div class="overlay-profil">
        <div class="profile-icon">
          <img src="./../../../assets/img/icon/account_circle.svg" alt="">
          <p class="no-margin">Profil</p>
        </div>
        <div class="profile-icon">
          <img src="./../../../assets/img/icon/logout.svg" alt="">
          <p class="no-margin">Log out</p>
        </div>
      </div>
    </div>
  </main>
</div>
