<mat-card class="custom-dialog-container">
    <div class="profil-title">
        <span>Dein Profil bearbeiten</span>
        <div class="close-icon" (click)="closeEditProfilCard()">
            <img
                ngSrc="assets/img/icon/close.png"
                class="default-img"
                height="24"
                width="24" />
            <img
                ngSrc="assets/img/icon/close_color.png"
                class="hover-img"
                style="display: none"
                height="16"
                width="16" />
        </div>
    </div>
    <div class="profile-img-container" (click)="openRegisterDialog()">
        <img class="profile-img" mat-card-image [src]="data.user.avatar" />
    </div>
    <mat-card-content>
        <div class="email-field">
            <img
                ngSrc="assets/img/icon/account_circle_big.png"
                height="26"
                width="26" />
            <span>Vollständiger Name</span>
        </div>
        <div class="input-field">
            <input
                type="text"
                name="name"
                [(ngModel)]="nameData.name"
                [minLength]="5"
                (ngModelChange)="checkInput($event)"
                (focus)="onFocus()"
                [class.input-has-value]="inputHasValue"
                placeholder="{{ data.user.displayName }}"
                required
                class="full-width input-field-design" />
        </div>
    </mat-card-content>
    <mat-card-content>
        <div>
            <div class="email-field">
                <img ngSrc="assets/img/icon/mail.png" height="20" width="26" />
                <span>E-Mail-Adresse</span>
            </div>
            <div class="input-field">
                <input
                    type="email"
                    name="email"
                    [formControl]="emailControl"
                    (ngModelChange)="checkInput($event)"
                    (focus)="onFocus()"
                    [class.input-has-value]="inputHasValue"
                    placeholder="{{ data.user.email }}"
                    required
                    class="full-width input-field-design" />
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="btn-position">
            <button
                mat-stroked-button
                class="btn-stroked"
                (click)="closeEditProfilCard()">
                Abbrechen
            </button>
            <button mat-flat-button class="btn-flat" (click)="saveProfile()">
                Speichern
            </button>
        </div>
    </mat-card-actions>
</mat-card>
