<mat-card class="custom-dialog-container">
  <div class="profil-title">
    <span>Dein Profil bearbeiten</span>
    <div class="close-icon" (click)="closeEditProfilCard()">
      <img
        ngSrc="./assets/img/icon/close.png"
        class="default-img"
        height="24"
        width="24"
      />
      <img
        ngSrc="./assets/img/icon/close_color.png"
        class="hover-img"
        style="display: none"
        height="16"
        width="16"
      />
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" #contactForm="ngForm" ngNativeValidate>
    <div class="profile-img-container">
      <label for="editAvatar" class="pointer">
        <input
          type="file"
          (change)="detectAvatar($event)"
          accept="image/*"
          name="editAvatar"
          id="editAvatar"
        />
        <img class="profile-img" mat-card-image [src]="data.user.avatar" />
        <div class="edit-icon">
          <img src="./assets/img/icon/edit.png" height="24" width="24" />
        </div>
      </label>
    </div>

    <div class="avatar-list">
      <div
        *ngFor="
          let count of [1, 2, 3, 4, 5, 6];
          let i = index;
          trackBy: trackByFn
        "
      >
        <div class="selection">
          <img
            class="pointer"
            src="./assets/img/characters/template{{ count }}.svg"
            alt=""
            (click)="setAvatar($event)"
          />
        </div>
      </div>
    </div>

    <mat-card-content>
      <div class="email-field">
        <img
          ngSrc="./assets/img/icon/account_circle_big.png"
          height="26"
          width="26"
        />
        <span>Vollständiger Name</span>
      </div>
      <div class="input-field">
        <input
          type="text"
          name="name"
          [(ngModel)]="nameData.name"
          (focus)="onFocus()"
          placeholder="{{ data.user.displayName }}"
          required
          minlength="5"
          class="full-width input-field-design"
        />
      </div>
    </mat-card-content>
    <mat-card-content>
      <div>
        <div class="email-field">
          <img ngSrc="./assets/img/icon/mail.png" height="20" width="26" />
          <span>E-Mail-Adresse</span>
        </div>
        <div class="input-field">
          <input
            type="email"
            name="email"
            [(ngModel)]="emailData.email"
            (ngModelChange)="onEmailChange($event)"
            pattern="[a-zA-ZO0-9._%+\-]+@[a-zA-Z0-9.\-]+.[a-zA-Z]{2,}"
            (focus)="onFocus()"
            [class.input-has-value]="inputHasValue"
            placeholder="{{ data.user.email }}"
            required
            class="full-width input-field-design"
          />
        </div>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="showPasswordField">
      <div>
        <div class="email-field">
          <img ngSrc="./assets/img/icon/lock.png" height="20" width="26" />
          <span>Aktuelles Passwort</span>
        </div>
        <div class="input-field">
          <input
            type="password"
            name="currentPassword"
            [(ngModel)]="passwordData.password"
            placeholder="Aktuelles Passwort"
            required            
            minlength="6"
            class="full-width input-field-design"
          />
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="btn-position">
        <button
          mat-stroked-button
          class="btn-stroked"
          (click)="closeEditProfilCard()"
        >
          Abbrechen
        </button>
        <button mat-flat-button class="btn-flat" type="submit">
          Speichern
        </button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
