<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If a directory or a file exists, use it directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise, forward it to index.html
  RewriteRule ^ index.html [L]
</IfModule>