@import "./styles/mixins.scss";
@import "./styles/animations.scss";

html {
  height: 100%;
  scroll-behavior: smooth;
  background-color: #ECEEFE;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', serif !important;
  overflow: hidden;
  @include dFlex($jc: center, $ai: center, $fd: column, $g: 0px);
}

/* nunito-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/nunito-v26-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v26-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

app-root{
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
  overflow-y: visible;
}

.full-width {
  width: 100%;
}

.mat-bottom-sheet-container {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
}

