.loading-animation{
  flex: 1;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 24px 16px 12px 16px;
}

app-progress-spinner{
  height: 100%;  
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 0);
}