<div class="content">
  <div class="avatar pointer">
    <img src="{{this.user.avatar}}" alt="">
  </div>
  <div class="main">

    <div class="message-content pointer">
      <div class="creator-infos">
        <div class="creator">{{ this.user.displayName }}</div>
        <div class="time">
          {{ channelMessage.createdAt | firestoreTimestamp | date:'HH:mm'}} Uhr
        </div>
      </div>
      <div class="message">{{ channelMessage.text }}
      </div>
      <!-- hier muss noch eine Prüfung rein auf Threads -->
      <div class="thread-infos">      
        <a href="http://localhost:4200/new-channel/9KJYLfxx07Wn5rbEupdA">2 Antworten</a>
        <span class="last-thread">Letzte Antwort 14:56</span>
      </div>
      <!-- Ende Prüfung auf Threads -->
    </div>
    <div class="reaction-infos">
      <div class="reactions">
        <div class="reaction-group pointer">          
          <img class="reaction-icon" src="./assets/img/emojis/1.svg" alt="">
          <div class="reaction-count">2</div>
        </div>
        <div class="reaction-group pointer">
          <img class="reaction-icon" src="./assets/img/emojis/2.svg" alt="">
          <div class="reaction-count">1</div>
        </div>        
      </div>      
      <img class="new-reaction pointer" src="./assets/img/emojis/add_reaction.svg" alt="">
    </div>
  </div>
</div>
  